USE [DIMVentas]
GO
/****** Object:  Table [dbo].[DIMCliente]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMCliente](
	[ID_cliente] [int] NOT NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[nombre_contacto] [nvarchar](30) NULL,
	[apellido_contacto] [nvarchar](30) NULL,
	[telefono] [nvarchar](15) NULL,
	[fax] [nvarchar](15) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMEmpleado]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMEmpleado](
	[ID_empleado] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido1] [nvarchar](50) NULL,
	[apellido2] [nvarchar](50) NULL,
	[extension] [nvarchar](10) NULL,
	[email] [nvarchar](100) NULL,
	[ID_oficina] [int] NULL,
	[ID_jefe] [int] NULL,
	[puesto] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMHechos]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMHechos](
	[ID_pedido] [int] NULL,
	[ID_producto] [int] NULL,
	[ID_cliente] [int] NULL,
	[fecha_pedido] [date] NULL,
	[ID_empleado] [int] NULL,
	[ID_oficina] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unidad] [numeric](15, 2) NULL,
	[descuento] [numeric](29, 4) NULL,
	[impuesto] [numeric](29, 4) NULL,
	[total] [numeric](31, 4) NULL,
	[Fac] [numeric](26, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMOficina]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMOficina](
	[ID_oficina] [int] NOT NULL,
	[Descripcion] [nvarchar](10) NULL,
	[ciudad] [nvarchar](30) NULL,
	[pais] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[telefono] [nvarchar](20) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_oficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMProducto]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMProducto](
	[ID_producto] [int] NOT NULL,
	[nombre] [nvarchar](70) NULL,
	[Categoria] [int] NULL,
	[descripcion] [nvarchar](max) NULL,
	[cantidad_en_stock] [smallint] NULL,
	[precio_venta] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMTiempo]    Script Date: 29/03/2025 6:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMTiempo](
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
