USE [StagingBDJardineria]
GO
/****** Object:  Table [dbo].[Destino CategoriaST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino CategoriaST](
	[Id_Categoria] [int] NULL,
	[Desc_Categoria] [nvarchar](50) NULL,
	[descripcion_texto] [nvarchar](max) NULL,
	[nombre] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino de ClienteST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino de ClienteST](
	[ID_cliente] [int] NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[nombre_contacto] [nvarchar](30) NULL,
	[apellido_contacto] [nvarchar](30) NULL,
	[telefono] [nvarchar](15) NULL,
	[fax] [nvarchar](15) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino de VentasST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino de VentasST](
	[ID_pedido] [int] NULL,
	[ID_producto] [int] NULL,
	[ID_cliente] [int] NULL,
	[fecha_pedido] [date] NULL,
	[ID_empleado] [int] NULL,
	[ID_oficina] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unidad] [numeric](15, 2) NULL,
	[descuento] [numeric](29, 4) NULL,
	[impuesto] [numeric](29, 4) NULL,
	[total] [numeric](31, 4) NULL,
	[Fac] [numeric](26, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino EmpleadoST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino EmpleadoST](
	[ID_empleado] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido1] [nvarchar](50) NULL,
	[apellido2] [nvarchar](50) NULL,
	[extension] [nvarchar](10) NULL,
	[email] [nvarchar](100) NULL,
	[ID_oficina] [int] NULL,
	[ID_jefe] [int] NULL,
	[puesto] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino OficinaST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino OficinaST](
	[ID_oficina] [int] NULL,
	[Descripcion] [nvarchar](10) NULL,
	[ciudad] [nvarchar](30) NULL,
	[pais] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[telefono] [nvarchar](20) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino_TimeST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino_TimeST](
	[Fecha] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinoProductoST]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinoProductoST](
	[ID_producto] [int] NULL,
	[nombre] [nvarchar](70) NULL,
	[Categoria] [int] NULL,
	[descripcion] [nvarchar](max) NULL,
	[cantidad_en_stock] [smallint] NULL,
	[precio_venta] [numeric](15, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCliente]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCliente](
	[ID_cliente] [int] NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[nombre_contacto] [nvarchar](30) NULL,
	[apellido_contacto] [nvarchar](30) NULL,
	[telefono] [nvarchar](15) NULL,
	[fax] [nvarchar](15) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[IDDate] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[NumWeek] [int] NULL,
	[Quarter] [int] NULL,
	[Dayweek] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMEmpleado]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMEmpleado](
	[ID_empleado] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido1] [nvarchar](50) NULL,
	[apellido2] [nvarchar](50) NULL,
	[extension] [nvarchar](10) NULL,
	[email] [nvarchar](100) NULL,
	[ID_oficina] [int] NULL,
	[ID_jefe] [int] NULL,
	[puesto] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMOficina]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMOficina](
	[ID_oficina] [int] NULL,
	[Descripcion] [nvarchar](10) NULL,
	[ciudad] [nvarchar](30) NULL,
	[pais] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[telefono] [nvarchar](20) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[linea_direccion2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMProduct]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMProduct](
	[nombre] [nvarchar](max) NULL,
	[ID_producto] [int] NULL,
	[Id_CategoriaCategory] [int] NULL,
	[nombreCategory] [nvarchar](70) NULL,
	[Categoria] [int] NULL,
	[descripcion] [nvarchar](max) NULL,
	[cantidad_en_stock] [smallint] NULL,
	[precio_venta] [numeric](15, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACVenta]    Script Date: 29/03/2025 6:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACVenta](
	[IDFACVentas] [int] IDENTITY(1,1) NOT NULL,
	[ID_pedido] [int] NULL,
	[ID_producto] [int] NULL,
	[ID_cliente] [int] NULL,
	[fecha_pedido] [date] NULL,
	[ID_empleado] [int] NULL,
	[ID_oficina] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unidad] [numeric](15, 2) NULL,
	[descuento] [numeric](29, 4) NULL,
	[impuesto] [numeric](29, 4) NULL,
	[total] [numeric](31, 4) NULL,
	[Fac] [numeric](26, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFACVentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
